:root {
    --dark: #aaa;
    --light: #fff;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

nav {
    position: sticky;
    top: 0;
}

nav, footer {
    background: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

nav a,
footer a {
    text-decoration: none;
    color: var(--light);
    padding: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.about-us {
    border: 1px solid black;
    padding: 16px;
    margin: 16px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rooms, .room, .login {
    border: 1px solid black;
    padding: 16px;
    margin: 16px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.room {
    width: 55vw
}

.room img {
    width: 50vw;
}

.login div {
    margin: 16px;
    padding: 16px;
}
